.footer{
    height: 593px;
    background-color:#252641;
}
.abd{
    width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
}
.footer_img{
    width: 114px;
    height: 83px;
    margin-top: 74px;
    margin-left: 566px;
}
.footer__tittle{
    width: 156px;
    height: 66px;
    margin-left: 798px;
    color: white;
    font-size: 22px;
    font-weight: 600px;
    letter-spacing: 0.88px;
    margin-top: -74px;
    stroke-width: 2px;
}
.footer__p{
    color: #B2B3CF;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-top: 90px;
}
.footer__inp{
    width: 400px;
    height: 60px;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid grey;
    margin-left: 471px;
    margin-top: 25px;
    color: white;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
}
.footer__btn{
    width: 179px;
    height: 60px;
    border-radius: 60px;
    margin-left: 20px;
    background-color: #49BBBD;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.footer__p__bottom{
    color: #B2B3CF;
    font-size: 22px;
    font-weight: 400;
    margin-top: 90px;
    text-align: center;
}
.date__p{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #B2B3CF;
    margin-top: 20px;
}